@page
@model _2024PSMS.Pages.ProjectTypes.AddProjectTypeModel
@{
    ViewData["Title"] = "2024PSMS";
}

<h1>Add Projects Type</h1>

<label>Message:</label>
<label style="color: @Model.MessageColor">@Model.Message</label>
<br />

<form method="post">

    <table>
        <tr>
            <td><label asp-for="ProjectTypes.ProjectType1"></label></td>
            <td><input asp-for="ProjectTypes.ProjectType1" /></td>
            <td><span asp-validation-for="ProjectTypes.ProjectType1"></span></td>
        <tr>
            <td></td>
            <td>
                <input class="button" asp-page-handler="Add" type="submit" value="Add" />
                <a class="button-delete" asp-page="CancelProjectTypes"><span>Cancel</span></a>
            </td>
        </tr>
        </table>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
