@page
@model _2024PSMS.Pages.Common.ViewWelcomeModel
@{
}

<h1>Welcome!</h1>

<p>Welcome to the Project Submission Management System! </p>
<p>Here you can submit any personal, or assigned projects and associated files to be worked with a mentor outside the Franklin College Network!</p>
<br />
<h3>Need Help?</h3>
<p>Contact Jermey VanAndel (jvanandel@franklincollege.edu) or Kirk Bixler (kbixler@franklincollege.edu) for questions regarding your project, files, or mentorship.</p>
<h3>Having System Issues?</h3>
<p>Contact Robert Beasley (rbeasley@franklincollege.edu) or Zach Ricketts (zjricketts@gmail.com) for assistance in any errors regarding the system.</p>
<br />
<h4>Thanks for using The Project Submission Management System!</h4>